Cкрипт, который будет выполнять следующую задачу: копировать все файлы с определенным расширением из одной директории в другую.
1.Запросить исходную и целевую директории у пользователя
Описание: Запросить у пользователя указание исходной и целевой директорий.
Действие: Предложить пользователю ввести пути к исходной и целевой директориям.
Использовать следующие переменне: Исходная директория - source_directory 
Целевая директория - target_directory
2.Запросить расширение файлов для копирования
Описание: Запросить у пользователя указание расширения файлов, которые нужно скопировать.
Действие: Предложить пользователю ввести расширение файлов.
Использовать для сохранения переменную - file_extension 
3.Проверить существование и доступность исходной и целевой директорий
Описание: Проверить, существуют ли и доступны ли исходная и целевая директории.
Действие: Проверить существование и доступность директорий. Если они не существуют или недоступны, вывести сообщение об ошибке.
Прервать работу скрипта с кодом 1
4.Проверить наличие файлов с указанным расширением в исходной директории
Описание: Проверить, есть ли файлы с указанным расширением в исходной директории.
Действие: Поиск файлов с указанным расширением в исходной директории. Если файлы не найдены, вывести сообщение об ошибке.
Прервать работу скрипта с кодом 1
5.Скопировать файлы с указанным расширением в целевую директорию
Описание: Скопировать все файлы с указанным расширением из исходной директории в целевую.
Действие: Копирование каждого файла с указанным расширением из исходной директории в целевую. Вывести сообщение о копировании каждого файла.

 
